@import "../../styles/variables.scss";

.track-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &__window {
    position: relative;
    background-color: #9e929a;
    padding: 10px;
    border-radius: 20px;
    width: 700px;
    height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__close {
    border: none;
    background-color: transparent;

    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
  }

  &__title {
    margin: 0 0 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: $login-button-color;
  }

  &__block-info {
    display: flex;
  }

  &__image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    width: 250px;
  }

  &__image {
    width: 150px;
    height: 120px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 5px;

    max-width: 300px;
  }

  &__field-track {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__detail {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    color: $login-button-color;

    height: 31px;
    padding-top: 2px;
  }

  &__input {
    width: 150px;
    height: 25px;

    border: none;
    border-radius: 8px;

    font-weight: 500;
    font-size: 16px;

    &::placeholder {
      color: grey;
    }

    &:focus {
      outline: 1px solid transparent;
    }
  }

  &__select {
    width: 150px;
    font-weight: 500;
    font-size: 16px;
    height: 25px;
    border: none;
    border-radius: 8px;
  }

  &__datepicker-input {
    height: 25px;
    border-radius: 8px;
    border: none;
    width: 130px;
    font-weight: 500;
    font-size: 16px;

    &:focus {
      outline: 1px solid transparent;
    }
  }

  &__error-message {
    height: 30px;
    margin: 0;
    margin-top: 10px;
    text-align: center;

    color: #59191f;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
  }

  &__block-buttons {
    margin-top: 10px;

    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__button {
    width: 150px;
    height: 40px;
    border: none;
    background: $pink-text-color;
    border-radius: 10px;
    color: $white-text-color;
    font-size: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image-loading {
    height: 40px;
    animation: spin 2s linear infinite;
  }
}
