.header_auth {
  display: flex;
  justify-content: center;
  align-items: center;

  &__login {
    flex-direction: column;
  }

  &__melodies {
    width: 150px;
    height: 150px;
  }

  &__logo {
    display: block;
    padding-left: 10px;
    padding-top: 15px;
    margin: 0;
    font-weight: 800;
    font-size: 30px;
    background: linear-gradient(90.07deg, #ee10b0 -4.82%, #0e9eefeb 127.01%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    user-select: none;
  }
}
