.header_auth {
  display: flex;
  justify-content: center;
  align-items: center;

  &__login {
    flex-direction: column;
  }

  &__block {
    display: flex;
    width: 1400px;
    justify-content: center;
  }

  &__image {
    display: flex;
    width: 55.5%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__melodies {
    margin-top: 15px;
    width: 150px;
    height: 150px;
  }

  &__logo {
    display: block;
    padding-left: 10px;
    padding-top: 15px;
    margin: 0;
    font-weight: 800;
    font-size: 30px;
    background: linear-gradient(90.07deg, #ee10b0 -4.82%, #0e9eefeb 127.01%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    user-select: none;
  }

  &__flags {
    margin-left: auto;
    display: flex;
    gap: 30px;
  }

  &__button-flag {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;

    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.65;
    }
  }

  &__image-flag {
    width: 40px;
    height: 25px;
  }
}
