@import "../../styles/variables.scss";

.artist-item {
  &__link {
    display: inline-block;
    width: 180px;
    padding: 0 15px 5px;
    color: $white-text-color;
    text-decoration: none;
    cursor: pointer;

    background-color: $login-button-color;
    border-radius: 10px;
  }

  &__image {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 12px;
  }

  &__title-author {
    text-align: center;
    margin: 0;
    white-space: nowrap;

    font-weight: 600;
    font-size: 20px;
  }
}
