@import "../../styles/variables.scss";

.activation-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;

  font-size: 30px;
  margin-top: 50px;

  &__text {
    width: 870px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__title {
    margin: 0;
    height: 70px;
    font-weight: 600;
  }

  &__subtitle {
    margin: 0;
    color: $pink-text-color;
    font-style: italic;
    font-size: 45px;
  }

  &__img-404 {
    width: 700px;
    height: 450px;
  }
}
