@import "../../styles/variables.scss";

.admin-artist {
  width: 180px;
  height: 220px;

  background-color: $login-button-color;
  border-radius: 10px;

  &__button {
    height: 220px;
    padding-left: 15px;
    padding-right: 15px;
    color: $white-text-color;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__image {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 12px;
  }

  &__title {
    margin: 0;
    width: 150px;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    justify-content: flex-start;
  }
}
