@import "../../styles/variables.scss";

.admin-tracks {
  margin-top: 20px;
  padding-left: 20px;
  height: 250px;

  &__headlines {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.3px;
  }

  &__release-date {
    display: flex;
    justify-content: flex-end;
    width: 520px;
  }

  &__labels {
    display: flex;
    justify-content: center;
    width: 470px;
  }

  &__time {
    display: flex;
    justify-content: center;
    width: 140px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__subtitle {
    color: $pink-text-color;
    font-style: italic;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
  }
}
