@import "../../styles/variables.scss";

@mixin customText($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}

.popular-tracks {
  padding-top: 20px;
  &__title {
    margin: 0;
    padding-top: 10px;
    height: 50px;
    padding-left: 20px;
    @include customText(800, 35px);

    &--pink {
      color: $pink-text-color;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__subtitle {
    color: $pink-text-color;
    font-style: italic;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
  }

  &__headlines {
    display: flex;
    align-items: center;
    width: 1140px;
    margin-bottom: 8px;
    @include customText(400, 20px);
    letter-spacing: 0.3px;
  }

  &__relase-date {
    margin-left: 310px;
    width: 300px;
    margin-bottom: 0;
    text-align: center;
  }

  &__labels {
    width: 293px;
    text-align: center;
  }

  &__time {
    margin-left: auto;
    width: 105px;
    margin-bottom: 0;
  }
}
